<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
   	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
   	xmlns:context="http://www.springframework.org/schema/context"
   	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
   	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd   
          http://www.springframework.org/schema/context   
          http://www.springframework.org/schema/context/spring-context.xsd  
          http://www.springframework.org/schema/mvc   
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/aop
          http://www.springframework.org/schema/aop/spring-aop.xsd">
          
	<!-- 扫描com.study.yang.*.controller包，自动实例化带@controller注释的实例 -->
	<context:component-scan base-package="com.study.yang.*.controller" use-default-filters="false">
	   	<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
    <!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		 <property name="prefix" value="/WEB-INF/jsp/"/>
		 <property name="suffix" value=".jsp"/>
		 <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	</bean>
	
	<!-- 默认的注解映射的支持 会自动注册DefaultAnnotationHandlerMapping和AnnotationMethodHandlerAdapter实例 -->
	<!-- <mvc:annotation-driven/> -->
	
	<!-- annotation默认的方法映射适配器 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	
	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<!-- 配置支持json -->
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>
	
	<!-- json转换器 -->
	<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
		<property name="supportedMediaTypes">
			<list>
				<value>text/html; charset=UTF-8</value>
				<value>application/json; charset=UTF-8</value>
			</list>
		</property>
		<!-- spring mvc返回的json日期为Long的处理 -->
		<property name="objectMapper">  
	        <bean class="com.fasterxml.jackson.databind.ObjectMapper">  
	            <property name="dateFormat">  
	                <bean class="java.text.SimpleDateFormat">  
	                    <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />  
	                </bean>  
	            </property>  
	        </bean>  
	    </property>
	</bean>
    
    <!-- 全局异常处理-->  
	<bean id="exceptionResolver" class="com.study.yang.exception.GlobalSimpleMappingExceptionResolver">
		<!-- 默认HTTP状态码 -->
		<property name="defaultStatusCode" value="500"/>       
	</bean>

	<tx:annotation-driven/>
	<aop:aspectj-autoproxy proxy-target-class="true"/>

	<bean class="com.study.yang.base.swagger.SwaggerConfig"/>
	<mvc:resources mapping="/swagger/**" location="/swagger/"/>
</beans>
