<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.yang.role.dao.IRoleDAO">
    <resultMap id="RoleResultMap" type="com.study.yang.role.entity.RoleEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="sort" property="sort" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="updator" property="updator" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="select_column_list">SELECT id,role_name,description,type,sort,create_time,creator,update_time,updator</sql>
    <sql id="select_count_sql">SELECT COUNT(1) FROM bc_role</sql>
    <sql id="insert_table_sql">INSERT INTO bc_role</sql>
    <sql id="insert_into_sql">INSERT INTO bc_role (role_name,description,type,sort,create_time,creator,update_time,updator)</sql>
    <sql id="update_table_sql">UPDATE bc_role</sql>
    <sql id="delete_from_sql">DELETE FROM bc_role</sql>
    <sql id="from_sql">FROM bc_role</sql>
    <sql id="order_by_sql">ORDER BY id DESC</sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.study.yang.role.entity.RoleEntity">
        <include refid="insert_into_sql"/>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{roleName,jdbcType=VARCHAR},
            #{description,jdbcType=VARCHAR},
            #{type,jdbcType=TINYINT},
            #{sort,jdbcType=TINYINT},
            #{createTime,jdbcType=TIMESTAMP},
            #{creator,jdbcType=INTEGER},
            #{updateTime,jdbcType=TIMESTAMP},
            #{updator,jdbcType=INTEGER},
        </trim>
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.study.yang.role.entity.RoleEntity">
        <include refid="insert_table_sql"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="roleName != null">role_name,</if>
                <if test="description != null">description,</if>
                <if test="type != null">type,</if>
                <if test="sort != null">sort,</if>
                <if test="createTime != null">create_time,</if>
                <if test="creator != null">creator,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="updator != null">updator,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
                <if test="roleName != null">#{roleName,jdbcType=VARCHAR},</if>
                <if test="description != null">#{description,jdbcType=VARCHAR},</if>
                <if test="type != null">#{type,jdbcType=TINYINT},</if>
                <if test="sort != null">#{sort,jdbcType=TINYINT},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="creator != null">#{creator,jdbcType=INTEGER},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="updator != null">#{updator,jdbcType=INTEGER},</if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        <include refid="insert_into_sql"/>
        <trim prefix="VALUES" suffixOverrides=",">
            <if test="list != null">
                <foreach collection="list" item="item" index="index" separator=",">
                    <trim prefix="(" suffix=")" suffixOverrides=",">
                        #{item.roleName,jdbcType=VARCHAR},
                        #{item.description,jdbcType=VARCHAR},
                        #{item.type,jdbcType=TINYINT},
                        #{item.sort,jdbcType=TINYINT},
                        #{item.createTime,jdbcType=TIMESTAMP},
                        #{item.creator,jdbcType=INTEGER},
                        #{item.updateTime,jdbcType=TIMESTAMP},
                        #{item.updator,jdbcType=INTEGER},
                    </trim>
                </foreach>
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.study.yang.role.entity.RoleEntity">
        <include refid="update_table_sql"/>
        <set>
            role_name = #{roleName,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            type = #{type,jdbcType=TINYINT},
            sort = #{sort,jdbcType=TINYINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            creator = #{creator,jdbcType=INTEGER},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            updator = #{updator,jdbcType=INTEGER},
        </set>
        <where>
            id = #{id,jdbcType=INTEGER}
        </where>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.study.yang.role.entity.RoleEntity">
        <include refid="update_table_sql"/>
        <set>
                    <if test="roleName != null">role_name = #{roleName,jdbcType=VARCHAR},</if>
                    <if test="description != null">description = #{description,jdbcType=VARCHAR},</if>
                    <if test="type != null">type = #{type,jdbcType=TINYINT},</if>
                    <if test="sort != null">sort = #{sort,jdbcType=TINYINT},</if>
                    <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
                    <if test="creator != null">creator = #{creator,jdbcType=INTEGER},</if>
                    <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
                    <if test="updator != null">updator = #{updator,jdbcType=INTEGER},</if>
        </set>
        <where>
           id = #{id,jdbcType=INTEGER}
        </where>
    </update>

    <select id="selectEntityById" resultMap="RoleResultMap" parameterType="java.lang.Integer">
        <include refid="select_column_list"/>
        <include refid="from_sql"/>
        <where>
        id = #{id,jdbcType=INTEGER}
        </where>
    </select>

    <select id="selectByParams" resultMap="RoleResultMap" parameterType="java.util.HashMap">
        <include refid="select_column_list"/>
        <include refid="from_sql"/>
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="roleName != null">
                AND role_name = #{roleName,jdbcType=VARCHAR}
            </if>
            <if test="description != null">
                AND description = #{description,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                AND type = #{type,jdbcType=TINYINT}
            </if>
            <if test="sort != null">
                AND sort = #{sort,jdbcType=TINYINT}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="creator != null">
                AND creator = #{creator,jdbcType=INTEGER}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updator != null">
                AND updator = #{updator,jdbcType=INTEGER}
            </if>
            <if test="ids != null">
                <foreach collection="ids" index="index" item="id" open=" AND id IN (" separator="," close=")">
                #{id,jdbcType=INTEGER}
                </foreach>
            </if>
        </where>
        <include refid="order_by_sql"/>
    </select>

    <select id="selectByEntity" resultMap="RoleResultMap" parameterType="com.study.yang.role.entity.RoleEntity">
        <include refid="select_column_list"/>
        <include refid="from_sql"/>
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="roleName != null">
                AND role_name = #{roleName,jdbcType=VARCHAR}
            </if>
            <if test="description != null">
                AND description = #{description,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                AND type = #{type,jdbcType=TINYINT}
            </if>
            <if test="sort != null">
                AND sort = #{sort,jdbcType=TINYINT}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="creator != null">
                AND creator = #{creator,jdbcType=INTEGER}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updator != null">
                AND updator = #{updator,jdbcType=INTEGER}
            </if>
        </where>
        <include refid="order_by_sql"/>
    </select>

    <update id="deleteById" parameterType="java.lang.Integer">
        <include refid="delete_from_sql"/>
        <where>
            id = #{id,jdbcType=INTEGER}
        </where>
    </update>

    <update id="deleteByParams" parameterType="java.util.HashMap">
        <include refid="delete_from_sql"/>
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="roleName != null">
                AND role_name = #{roleName,jdbcType=VARCHAR}
            </if>
            <if test="description != null">
                AND description = #{description,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                AND type = #{type,jdbcType=TINYINT}
            </if>
            <if test="sort != null">
                AND sort = #{sort,jdbcType=TINYINT}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="creator != null">
                AND creator = #{creator,jdbcType=INTEGER}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updator != null">
                AND updator = #{updator,jdbcType=INTEGER}
            </if>
        </where>
    </update>

</mapper>
